{% extends "calc/base.html" %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
    {% for str, trucks in context.items %}
        <table class = "Storages">
            <tr>
                <td>id</td>
                <td>Название скалада</td>
                <td>Объем до разгрузки, т </td>
                <td>Объем после разгрузки, т </td>
                <td>Качественные хар-ки после разгрузки </td>
            </tr>
            <tr class = "Storage">
                <td id = "storage_id">{{str.id}}</td>
                <td>{{str.name}}</td>
                <td>{{str.capacity}}</td>
                <td>{{str.capacity}}</td>
                <td>{{str.percentage_SiO2}} SiO2, {{str.percentage_Fe}} Fe</td>
            </tr>
            <tr>
                <td>id</td>
                <td>Бортовой номер</td>
                <td>Модель</td>
                <td>Макс. груоподъемность, т</td>
                <td>Текущий вес, т</td>
                <td>Перегруз, %</td>
                <td>Координаты разгрузки, (X,Y)</td> 
            </tr>
            {% for truck in trucks %}
                <tr class = "Truck">
                    <td id = "truck_id">{{truck.id}}</td>
                    <td>{{truck.name}}</td>
                    <td>{{truck.model}}</td>
                    <td>{{truck.max_carrying_capacity}}</td>
                    <td>{{truck.carrying_capacity}}</td>
                    <td>{{truck.overload}}</td>
                    <td>
                        <input id="point_x_input" type="number" value=0 size=1 title="X">
                        <input id="point_y_input" type="number" value=0 size=1 title="Y">
                    </td> 
                </tr>
            {% endfor %}
            </table>
        </table>
    {% endfor %}
    <input type="hidden" name="token" value="{{csrf_token}}"/>
    <input id="submit-btn" type="submit" value="Сalculate"/>
    <script>
        $(document).on('click', '#submit-btn', function(event){
            var data = $('.Storages');
            var storage_data = {};
            console.log(data);
            for(i=0;i<data.length;i++){
                console.log(i);
                var trucks_data = $(data[i]).find($(".Truck"));
                var str_data = $(data[i]).find(".Storage");
                console.log(str_data);
                var storage_id = str_data.find('#storage_id').text();
                for(j=0;j<trucks_data.length;j++){
                    var truck_id = $(trucks_data[j]).find('#truck_id').text();
                    var coordinate_x = $(trucks_data[j]).find('#point_x_input').val();
                    var coordinate_y = $(trucks_data[j]).find('#point_y_input').val();
                    if (storage_data[storage_id]) {
                        storage_data[storage_id]["trucks_data"][truck_id] = {
                            "coordinate_x" : coordinate_x,
                            "coordinate_y" : coordinate_y,
                        };
                    } else {
                        storage_data[storage_id] = {
                            'trucks_data': {}
                            };
                        storage_data[storage_id]["trucks_data"][truck_id] = {
                            "coordinate_x" : coordinate_x,
                            "coordinate_y" : coordinate_y,
                        };
                    }
                }
            }
            response_data = {
                "storage_data":storage_data
            }
            $.ajax({
                    type: "POST",
                    url: "coordinate_update/",
                    data: {data: JSON.stringify(response_data),
                        csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: function(response){
                        alert("Расчеты произведены, нажмите OK для загрузки");
                        window.location.reload() 
                    }
                });
        });
    </script>
{% endblock %}


